Repository running-elephant/datart, pull requests merged in 2022-07, with the labels that each got.

#1590 [feature-1579]some optimization about Execute Script
  data-providers/data-provider-base/src/main/java/datart/data/provider/calcite/QueryScriptProcessResult.java
  data-providers/data-provider-base/src/main/java/datart/data/provider/calcite/SqlBuilder.java
  data-providers/data-provider-base/src/main/java/datart/data/provider/jdbc/SqlScriptRender.java
Labels: discussion, backend

#1685 改两个样式问题
  frontend/src/app/components/ChartGraph/BasicRichText/RichTextPluginLoader/CustomColor.tsx
  frontend/src/app/pages/ChartWorkbenchPage/components/ChartOperationPanel/components/ChartPresentPanel/ChartPresentPanel.tsx
Labels: improvement

#1692 fix: 数据视图-变量配置-搜索功能、数据视图-设置-有效期不能为负值
  frontend/src/app/pages/MainPage/pages/ViewPage/Main/Properties/Variables.tsx
  frontend/src/app/pages/MainPage/pages/ViewPage/SaveForm.tsx
Labels: discussion, frontend

#1672 fix: widget config func类型的属性丢失的问题
  frontend/src/app/utils/internalChartHelper.ts
Labels: bug, frontend

#1712 fix: 饼图、环形图，标签位置选“中心”时不显示
  frontend/src/app/components/ChartGraph/BasicPieChart/BasicPieChart.tsx
  frontend/src/app/types/ChartConfig.ts
Labels: frontend

#1727 fix: fix no data when chart with color group, issue #1726
  frontend/src/app/components/ChartGraph/BasicBarChart/BasicBarChart.tsx
  frontend/src/app/components/ChartGraph/BasicLineChart/BasicLineChart.tsx
Labels: bug
